
<!--ejemplo.ejs-->
<!DOCTYPE html>
<html>
    <head>
        <!--  Configuraciones Metadatos   -->
        <!--  CSS   -->
        <!--  <link rel="stylesheet" href="http://localhost:3001/CSS/estilos-generales.CSS">   -->
        <link rel="stylesheet" href="/CSS/estilos-generales.CSS">
        <!--  ctrl + alt + l  -->
    </head>
    <body>
        <!--   CONTENIDO HTML  -->
        <!--   SCRIPTS   -->
        <P>hola  <%= nombre %> !!</P>
        <script src="http://localhost:3001/js/logica-general.js"></script>
    </body>
</html>




<!--<raiz>-->
<!--    <universidad>-->
<!--        <facultad   atributo="valor"-->
<!--                    propiedad="valor"-->
<!--                    acreditada-->
<!--        >-->
<!--            Sistemas-->
<!--        </facultad>-->
<!--        <facultad>Mecanica</facultad>-->
<!--    </universidad>-->
<!--    <universidad>-->
<!--        <facultad>Administracion</facultad>-->
<!--        <facultad>Finanzas</facultad>-->
<!--    </universidad>-->
<!--</raiz>-->
