<form action="/login" method="POST">
    <label for="usuarioId">USUARIO</label>
    <input id="usuarioId"
           type="text"
           name="usuario">
    <label for="passwordId">PASSWORD</label>
    <input id="passwordId"
           type="password"
           name="password">
    <button type="submit">LOGEARSE</button>
</form>